@model IEnumerable<SacramentMeetingPlanner.Models.Meeting>

@{
    ViewData["Title"] = "My Meetings";
}

<h1>My Meetings</h1>

<p>
    <a asp-action="Create">Create New Meeting</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by conductor: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingId)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.MeetingDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Conductor)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeetingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeetingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
